In [2]:
import pandas as pd

In [21]:
df = pd.read_table("29may_2138.txt", " ")
df['dt1'] = df['dt1'] + " " + df['dt2'] + " " + df['dt3'] + " " + df['dt4']
df = df.drop(['dt2', 'dt3', 'dt4'], axis=1)

df

,dt1,controller,drones,queue,deliveries,fullTrips,revenue,costs,penalties,fDel,fRet,fLaunch,collisions,unknown,total
0,May 30th 02:39:49.556 UTC,C_2,15,39,861,856,113294,3732.814000,0.0,0,0,48,0,0,3444
1,May 30th 02:39:33.221 UTC,C_3,15,39,816,810,110269,3674.619000,169224.9,4,0,109,0,0,1923
2,May 30th 02:38:49.578 UTC,C_2,15,40,861,852,113294,3725.886000,0.0,0,0,48,0,0,3436
3,May 30th 02:38:32.370 UTC,C_3,15,39,812,806,109620,3667.506000,169224.9,4,0,108,0,0,1917
4,May 30th 02:37:49.568 UTC,C_2,14,39,858,851,112877,3722.756000,0.0,0,0,48,0,0,3426
5,May 30th 02:37:32.381 UTC,C_3,14,38,809,803,109064,3660.431000,169224.9,4,0,108,0,0,1912
6,May 30th 02:36:49.565 UTC,C_2,14,40,853,846,112137,3698.174000,0.0,0,0,48,0,0,3417
7,May 30th 02:36:31.669 UTC,C_3,14,40,807,800,108707,3647.029000,169224.9,4,0,107,0,0,1908
8,May 30th 02:35:49.566 UTC,C_2,15,40,852,843,111953,3687.708000,0.0,0,0,48,0,0,3407
9,May 30th 02:35:30.737 UTC,C_3,14,40,803,797,108353,3632.426000,169224.9,4,0,106,0,0,1901
10,May 30th 02:34:49.575 UTC,C_2,15,40,850,842,111833,3683.833000,0.0,0,0,48,0,0,3397
11,May 30th 02:34:30.737 UTC,C_3,13,39,801,794,108110,3618.701000,169224.9,4,0,106,0,0,1896
12,May 30th 02:33:49.567 UTC,C_2,15,40,846,838,111356,3667.026000,0.0,0,0,48,0,0,3388
13,May 30th 02:33:29.934 UTC,C_3,14,37,800,791,108050,3606.840000,169224.9,4,0,105,0,0,1890
14,May 30th 02:32:49.566 UTC,C_2,15,40,844,836,111138,3659.875000,0.0,0,0,48,0,0,3376
15,May 30th 02:32:29.923 UTC,C_3,15,40,799,786,107873,3581.872000,169224.9,4,0,105,0,0,1889
16,May 30th 02:31:49.566 UTC,C_2,15,40,841,834,110772,3649.069000,0.0,0,0,48,0,0,3363
17,May 30th 02:31:29.934 UTC,C_3,15,40,795,786,107191,3581.872000,169224.9,4,0,105,0,0,1887
18,May 30th 02:30:49.566 UTC,C_2,15,39,838,831,110381,3638.385000,0.0,0,0,48,0,0,3352
19,May 30th 02:30:29.934 UTC,C_3,14,40,792,785,106917,3578.378000,169224.9,4,0,105,0,0,1881
20,May 30th 02:29:49.566 UTC,C_2,14,40,836,828,110073,3625.761000,0.0,0,0,48,0,0,3343
21,May 30th 02:29:29.933 UTC,C_3,15,40,789,783,106551,3570.888000,169224.9,4,0,105,0,0,1875
22,May 30th 02:28:49.575 UTC,C_2,15,40,834,826,109855,3614.745000,0.0,0,0,48,0,0,3334
23,May 30th 02:28:29.931 UTC,C_3,14,39,786,780,106253,3556.222000,169224.9,4,0,105,0,0,1870
24,May 30th 02:27:49.576 UTC,C_2,15,39,830,825,109429,3610.504000,0.0,0,0,48,0,0,3323
25,May 30th 02:27:28.247 UTC,C_3,15,40,784,777,105899,3542.801000,169224.9,4,0,103,0,0,1865
26,May 30th 02:26:49.556 UTC,C_2,15,40,829,820,109203,3591.747000,0.0,0,0,48,0,0,3313
27,May 30th 02:26:28.238 UTC,C_3,15,40,783,775,105819,3539.657000,169224.9,4,0,103,0,0,1860
28,May 30th 02:25:49.577 UTC,C_2,15,40,827,818,109063,3577.371000,0.0,0,0,48,0,0,3304
29,May 30th 02:25:28.248 UTC,C_3,14,39,782,772,105710,3521.758000,169224.9,4,0,103,0,0,1855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687,May 29th 20:55:04.989 UTC,C_2,15,40,31,24,4149,92.667050,0.0,0,0,5,0,0,148
688,May 29th 20:55:04.810 UTC,C_3,14,23,28,19,3967,73.833030,0.0,0,0,6,0,0,62
689,May 29th 20:54:04.986 UTC,C_2,15,40,31,22,4149,87.366570,0.0,0,0,5,0,0,139
690,May 29th 20:54:04.800 UTC,C_3,14,19,27,17,3783,56.441470,0.0,0,0,6,0,0,56
691,May 29th 20:53:03.923 UTC,C_3,15,15,24,15,3381,45.929920,0.0,0,0,5,0,0,50
692,May 29th 20:53:03.873 UTC,C_2,15,40,28,18,3949,67.597590,0.0,0,0,4,0,0,130
693,May 29th 20:52:03.924 UTC,C_3,15,9,23,15,3321,45.929920,0.0,0,0,5,0,0,44
694,May 29th 20:52:03.880 UTC,C_2,15,40,23,17,3369,61.627010,0.0,0,0,4,0,0,121
695,May 29th 20:51:03.923 UTC,C_3,14,8,21,14,2896,42.703690,0.0,0,0,5,0,0,41
696,May 29th 20:51:02.873 UTC,C_2,15,40,22,16,3192,55.088420,0.0,0,0,3,0,0,109
697,May 29th 20:50:03.923 UTC,C_3,14,8,18,10,2579,28.614870,0.0,0,0,5,0,0,37
698,May 29th 20:50:02.882 UTC,C_2,15,40,20,13,2906,43.341900,0.0,0,0,3,0,0,98
699,May 29th 20:49:03.933 UTC,C_3,15,7,15,8,2221,22.232610,0.0,0,0,5,0,0,35
700,May 29th 20:49:02.882 UTC,C_2,15,39,19,9,2797,26.285350,0.0,0,0,3,0,0,86
701,May 29th 20:48:03.004 UTC,C_3,13,5,12,6,1801,17.519310,0.0,0,0,4,0,0,28
702,May 29th 20:48:02.884 UTC,C_2,14,40,17,6,2133,13.536820,0.0,0,0,3,0,0,77
703,May 29th 20:47:03.003 UTC,C_3,13,6,9,3,1341,7.719357,0.0,0,0,4,0,0,26
704,May 29th 20:47:02.872 UTC,C_2,15,40,15,4,1847,7.716193,0.0,0,0,3,0,0,64
705,May 29th 20:46:03.012 UTC,C_3,15,3,7,0,985,0.000000,0.0,0,0,4,0,0,22
706,May 29th 20:46:02.873 UTC,C_2,15,31,12,4,1452,7.716193,0.0,0,0,3,0,0,53
707,May 29th 20:45:03.015 UTC,C_3,12,0,2,0,282,0.000000,0.0,0,0,4,0,0,16
708,May 29th 20:45:02.882 UTC,C_2,14,23,4,4,494,7.716193,0.0,0,0,3,0,0,44
709,May 29th 20:44:02.198 UTC,C_3,9,4,1,0,173,0.000000,0.0,0,0,3,0,0,16
710,May 29th 20:44:01.882 UTC,C_2,14,12,4,1,494,1.378583,0.0,0,0,2,0,0,29
711,May 29th 20:43:00.851 UTC,C_2,10,12,4,0,494,0.000000,0.0,0,0,1,0,0,23
712,May 29th 20:43:00.492 UTC,C_3,5,1,0,0,0,0.000000,0.0,0,0,1,0,0,7
713,May 29th 20:42:00.490 UTC,C_3,1,0,0,0,0,0.000000,0.0,0,0,1,0,0,2
714,May 29th 20:41:59.769 UTC,C_2,5,8,0,0,0,0.000000,0.0,0,0,0,0,0,13
715,May 29th 20:40:59.900 UTC,C_2,0,0,0,0,0,0.000000,0.0,0,0,0,0,0,0
716,May 29th 20:40:59.893 UTC,C_3,0,0,0,0,0,0.000000,0.0,0,0,0,0,0,0